trunk/open-ig/src/hu/openig/res/buildings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="buildings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="building" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cost" type="xs:unsignedInt"/>
							<xs:element name="energy" type="xs:unsignedInt"/>
							<xs:element name="worker" type="xs:unsignedInt"/>
							<xs:element name="limit" type="xs:string"/>
							<xs:element name="kind" type="xs:string"/>
							<xs:element name="nobuild" type="xs:string" minOccurs="0"/>
							<xs:element name="research" type="xs:string" minOccurs="0"/>
							<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="tile" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="techid" type="xs:string" use="required"/>
									<xs:attribute name="width" type="xs:positiveInteger" use="required"/>
									<xs:attribute name="height" type="xs:positiveInteger" use="required"/>
									<xs:attribute name="offset" type="xs:positiveInteger" use="optional"/>
									<xs:attribute name="doffset" type="xs:positiveInteger" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required"/>
						<xs:attribute name="index" type="xs:unsignedInt" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
