trunk/open-ig/src/hu/openig/xold/res/buildings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="buildings">
		<xs:annotation>
			<xs:documentation>Information about various building prototypes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="building" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A building prototype definition</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cost" type="xs:unsignedInt">
								<xs:annotation>
									<xs:documentation>The build cost</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="energy" type="xs:unsignedInt">
								<xs:annotation>
									<xs:documentation>The energy consumption in kWh</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="worker" type="xs:unsignedInt">
								<xs:annotation>
									<xs:documentation>The worker demand</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="limit" type="xs:string">
								<xs:annotation>
									<xs:documentation>The build limit for a planet: * is for unlimited, positive value is an exact limit, negative value means that number of building is allowed of that kind (e.g. five guns)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kind" type="xs:string">
								<xs:annotation>
									<xs:documentation>The building kind, used to limit building amount on a planet</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="nobuild" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Comma separated list of surface types which does not allow to build this building</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="research" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The technology id which needs to be researched in order to build this building</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Additional properties describing the aspects of the building, e.g capacities, defenses, etc.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string" use="required">
												<xs:annotation>
													<xs:documentation>The property name</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="tile" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The tile sizes of this building for various technology ids.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="techid" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>The technology race identifier</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="width" type="xs:positiveInteger" use="required">
										<xs:annotation>
											<xs:documentation>The building width in tiles</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="height" type="xs:positiveInteger" use="required">
										<xs:annotation>
											<xs:documentation>The building height in tiles</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="offset" type="xs:positiveInteger" use="optional">
										<xs:annotation>
											<xs:documentation>The height compensation for the undamaged building image.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="doffset" type="xs:positiveInteger" use="optional">
										<xs:annotation>
											<xs:documentation>The height compensation for the damaged building image.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The building identifier</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="index" type="xs:unsignedInt" use="required">
							<xs:annotation>
								<xs:documentation>The index for the labels and details text</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
