open-ig/data/generic/schemas/players.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="players">
		<xs:annotation>
			<xs:documentation>Definition of players.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="player" type="player" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation><xs:documentation>Description of a player.</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="player">
		<xs:annotation><xs:documentation>Description of a player.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="inventory" type="inventory" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>The initial inventory counts.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="available" type="available" minOccurs="0" maxOccurs="1">
				<xs:annotation><xs:documentation>The set of available technologies at start.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="fleet" type="fleet" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>The initial fleets.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="traits" type="traits" minOccurs="0">
				<xs:annotation><xs:documentation>The optional traits for this player.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name='nicknames' type='nicknames' minOccurs="0">
				<xs:annotation><xs:documentation>The optional nicknames to be used for the larger ships. Represent label references.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The player's unique identifier.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="race" type="xs:string" use="required">
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The label for the full name of the empire. The short name is derived by appending ".short".</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="icon" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The icon for the fleets.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="color" type="hex8" use="required">
			<xs:annotation><xs:documentation>The ARGB color used for labeling objects of this player (e.g., planets and fleets).</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="picture" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The race picture for the database screen.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="user" type="xs:boolean" use="optional">
			<xs:annotation><xs:documentation>Is this the active player accessible throught the UI (e.g., main player)?</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="money" type="nonNegativeLong" use="required">
			<xs:annotation><xs:documentation>The player's money.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="initial-stance" type="zerohundred" use="required">
			<xs:annotation><xs:documentation>The initial stance towards other players when discovered.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="ai" type="xs:string" use="optional">
			<xs:annotation><xs:documentation>The AI mode. See the AIMode enum.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="colonization-limit" type="xs:int" use="required">
			<xs:annotation><xs:documentation>Number of planets to colonize by the AI. -1 represents unlimited.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="diplomacy-head" type="xs:string" use="optional">
			<xs:annotation><xs:documentation>The head animation used by the diplomacy screen.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="ratios" type="xs:string" use="optional">
			<xs:annotation><xs:documentation>The ratio of offensive, defensive and social activitios for the AI, expressed as free values (comma separated).</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="exploration-inner-limit" type="xs:string" use="optional">
			<xs:annotation><xs:documentation>Comma separated values of a rectangles top-left X, Y, width and height in the galaxy map's coordinate space.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="exploration-outer-limit" type="xs:string" use="optional">
			<xs:annotation><xs:documentation>Comma separated values of a rectangles top-left X, Y, width and height in the galaxy map's coordinate space.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="war-threshold" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation><xs:documentation>The AI's diplomatic relation threshold to consider a player for war.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="police-ratio" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation><xs:documentation>The morale boost in 100s caused by the police's presence.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="nodiplomacy" type="xs:boolean" use="optional">
			<xs:annotation><xs:documentation>Does this player do diplomacy?</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="nodatabase" type="xs:boolean" use="optional">
			<xs:annotation><xs:documentation>The player should not occur in the database screen.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="tax-base" type="xs:double" use="optional">
			<xs:annotation><xs:documentation>The base value for tax calculations, i.e., the guaranteed daily minimum income. Tax = Base Tax + Tax Scale * Computed Tax</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="tax-scale" type="xs:double" use="optional">
			<xs:annotation><xs:documentation>The scale of the tax income, i.e., a value of 2 will double the daily tax income. Tax = Base Tax + Tax Scale * Computed Tax</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="hex8">
		<xs:annotation><xs:documentation>8 character hexadecimal value.</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="[a-fA-F0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zerohundred">
		<xs:annotation><xs:documentation>A real value between 0 and 100.</xs:documentation></xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonNegativeLong">
		<xs:annotation><xs:documentation>A non-negative long value (64 bit)</xs:documentation></xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9223372036854775807"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inventory">
		<xs:annotation><xs:documentation>The inventory count.</xs:documentation></xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The technology identifier in tech.xml.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="count" type="xs:nonNegativeInteger" use="required">
			<xs:annotation><xs:documentation>The number of items in the inventory.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="available">
		<xs:annotation><xs:documentation>The available technologies.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="available-type" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>The definition of the available technology.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="available-type">
		<xs:annotation><xs:documentation>The definition of the available technology.</xs:documentation></xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The technology identifier in tech.xml.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="list" use="required">
			<xs:annotation><xs:documentation>The list of best technologies to fill in the slots.</xs:documentation></xs:annotation>
			<xs:simpleType>
				<xs:list itemType="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="fleet">
		<xs:sequence>
			<xs:element name="item" type="fleet-item" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>The fleet item.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="optional">
			<xs:annotation><xs:documentation>The optional unique identifier of the fleet. If omitted, the fleet gets one.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="x" type="xs:decimal" use="required">
			<xs:annotation><xs:documentation>The fleet's current X coordinate on the galaxy coordinates.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="y" type="xs:decimal" use="required">
			<xs:annotation><xs:documentation>The fleet's current Y coordinate on the galaxy coordinates.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The name of the fleet. If the name starts with @, the whole text is used for the fleet name (including @).</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="fleet-item">
		<xs:annotation><xs:documentation>The individual fleet item.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="slot" type="slot" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>The filled-in slot definitions.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required">
			<xs:annotation><xs:documentation>The unique identifier of the item.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The technology id of the fleet item in tech.xml</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="count" type="xs:positiveInteger" use="required">
			<xs:annotation><xs:documentation>The number of items of the current type.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="tag" type="xs:string" use="optional">
			<xs:annotation><xs:documentation>The optional tagging of the item.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="slot">
		<xs:annotation><xs:documentation>The filled-in slot definitions.</xs:documentation></xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The non-fixed slot identifier as found in tech.xml.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The technology id equipping this slot from tech.xml</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="count" type="xs:positiveInteger" use="required">
			<xs:annotation><xs:documentation>The number of items in the slot.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="traits">
		<xs:annotation><xs:documentation>The list of trait ids affecting this player.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="trait" type='trait' minOccurs='0' maxOccurs='unbounded'>
				<xs:annotation><xs:documentation>The reference to a global trait.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="trait">
		<xs:annotation><xs:documentation>A reference to a global trait.</xs:documentation></xs:annotation>
		<xs:attribute name='id' type="xs:string" use="required">
			<xs:annotation><xs:documentation>The ID of the global trait.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name='nicknames'>
		<xs:annotation><xs:documentation>The optional nicknames to be used for the larger ships. Represent label references.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name='nickname' type='xs:string' minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>A concrete nickname label reference.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>		
	</xs:complexType>
</xs:schema>
