data/generic/schemas/battle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="battle" type="battle">
		<xs:annotation>
			<xs:documentation>Description of the weapons, ships, vehicles and technology battle properties: hitpoints, damage, delay, etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="battle">
		<xs:annotation>
			<xs:documentation>The main container for various properties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="projectiles" type="projectiles">
				<xs:annotation>
					<xs:documentation>The description of projectiles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="space-entities" type="space-entities">
				<xs:annotation>
					<xs:documentation>Entities for spacewar with rotation info for regular and alternative 
		appearances.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ground-shields" type="ground-shields">
				<xs:annotation>
					<xs:documentation>The shield description for space battle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ground-projectors" type="ground-projectors">
				<xs:annotation>
					<xs:documentation>The projector description for space battle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ground-vehicles" type="ground-vehicles">
				<xs:annotation>
					<xs:documentation>The rotation-fire phase matrixes for surface tanks and vehicles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="buildings" type="buildings">
				<xs:annotation>
					<xs:documentation>Contains explicit battle information for building turrets and weapon projectiles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="layouts" type="layouts">
				<xs:annotation>
					<xs:documentation>Initial battle layouts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" type="properties">
				<xs:annotation>
					<xs:documentation>Additional battle properties.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ecm-vs-matrix" type="ecm-vs-matrix" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>The Anti-ECM versus ECM hit probability matrix for a difficulty level.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="projectiles">
		<xs:annotation>
			<xs:documentation>Definition of projectiles.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="projectile" type="projectile" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The individual projectile description.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="projectile">
		<xs:annotation>
			<xs:documentation>An individual projectile description</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The technology ID as in tech.xml.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="matrix" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The resource location for the rotated image sequence.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alternative" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The resource location for the alternative rotated image sequence.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The number of image frames for the rotation dimension.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The number of animation phases for each rotation position.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sound" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The enumeration constant from hu.openig.model.SoundType played when the projectile is fired.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="damage" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The damage inflicted by a single hit of this projectile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="delay" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The delay between shots of this projectile in milliseconds.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="range" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The fire range in pixels. Negative value represents unlimited range.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mode" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The enumeration constant for the projectile type in hu.openig.model.BattleProjectile.Mode .</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="movement-speed" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Ratio of simulation time and distance travelled. The smaller this number is the faster the projectile will travel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rotation-time" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>Some projectiles may turn while travelling (e.g., rockets). Defines how much time it takes to do a one step rotation. The larger this number is the faster the projectile will turn.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="space-entities">
		<xs:annotation>
			<xs:documentation>The description of spaceships and stations.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tech" type="tech-space" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The individual technology definition.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tech-space">
		<xs:annotation>
			<xs:documentation>An individual technology definition.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name='efficiency' type='tech-efficiency' minOccurs="0" maxOccurs='unbounded'>
				<xs:annotation><xs:documentation>The efficiency override based on the enemy owner, category or tech id.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The technology identifier as found in tech.xml .</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="normal" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The resource name that contains the rotation phases of the entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alternative" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The resource name that contains the alternative rotation phases of the entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="image" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The image resource to display when displaying entity information in the space battle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The number of rotation phases in the normal and alternative images.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sound" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The enumeration constant from hu.openig.model.SoundType played when the entity is destroyed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="movement-speed" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Ratio of simulation time and distance travelled. The smaller this number is the faster the projectile will travel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rotation-time" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Some projectiles may turn while travelling (e.g., rockets). Defines how many time it takes to do a one step rotation. The larger this number is the faster the projectile will turn.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hp" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The base hitpoints of the entity in the campaign.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
        <xs:attribute name="hp-skirmish" type="xs:decimal" use="optional">
            <xs:annotation>
                <xs:documentation>The base hitpoints of the entity in skirmish.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
	</xs:complexType>
	<xs:complexType name="ground-shields">
		<xs:annotation>
			<xs:documentation>The definition of the ground shields for the space battle.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tech" type="tech-shield" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The definition of the shield entity.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tech-shield">
		<xs:annotation>
			<xs:documentation>The definition of a shield entity. It is expected to have a single image (e.g., no rotation).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The technology identifier as found in tech.xml .</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="normal" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The resource name that contains the rotation phases of the entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alternative" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The resource name that contains the alternative rotation phases of the entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="image" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The image resource to display when displaying entity information in the space battle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sound" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The enumeration constant from hu.openig.model.SoundType played when the entity is destroyed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="shield" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The percentage of the shield hitpoints in respect to the base hitpoints.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ground-projectors">
		<xs:annotation>
			<xs:documentation>The definition of ground projectors.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tech" type="tech-projector" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The definition of a single ground projector.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tech-projector">
		<xs:annotation>
			<xs:documentation>The definition of a ground projector.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name='efficiency' type='tech-efficiency' minOccurs="0" maxOccurs='unbounded'>
				<xs:annotation><xs:documentation>The efficiency override based on the enemy owner, category or tech id.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The technology identifier as found in tech.xml .</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="normal" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The resource name that contains the rotation phases of the entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alternative" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The resource name that contains the alternative rotation phases of the entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="image" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The image resource to display when displaying entity information in the space battle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The number of rotation phases in the normal and alternative images.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sound" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The enumeration constant from hu.openig.model.SoundType played when the entity is destroyed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="projectile" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The projectile used, refers to the projectile node.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="damage" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The damage inflicted by the projector.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rotation-time" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Defines how much time it takes to do a one step rotation. The larger this number is the faster the projector will turn.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ground-vehicles">
		<xs:annotation>
			<xs:documentation>The definition of ground vehicles.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tech" type="tech-vehicle" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The definition of a single ground vehicle.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tech-vehicle">
		<xs:annotation>
			<xs:documentation>The definitionof a ground vehicle.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The technology identifier as found in tech.xml .</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="normal" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The resource name that contains the rotation phases of the vehicle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alternative" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The resource name that contains the alternative rotation phases of the vehicle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The number of image frames for the rotation dimension.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The number of fire animation phases for each rotation position.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="destroy" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The enumeration constant from hu.openig.model.SoundType played when the vehicle is destroyed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fire" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The enumeration constant from hu.openig.model.SoundType played when the vehicle fires.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hp" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The base hitpoints of the vehicle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="damage" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The damage per shot of this vehicle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="min-range" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The minimum fire range for the vehicle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="max-range" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The maximum fire range for the vehicle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="area" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The damage area of the vehicle fire.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="movement-speed" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Ratio of simulation time and distance travelled. The smaller this number is the faster the vehicle will travel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rotation-time" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Defines how many time it takes to do a one step rotation. The larger this number is the faster the vehicle will turn.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The base type of the vehicle which determines its default behavior: see hu.openig.model.GroundwarUnitType enumeration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="delay" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The delay between shots of this vehicle in milliseconds.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="repair-time" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>Defines a ratio of how much time needed to fully repair the unit. The smaller this number is the faster it self-repairs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="buildings">
		<xs:annotation>
			<xs:documentation>Defines the building turrets and their placement on buildings.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="matrix" type="turret-matrix" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The turret matrix definition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="building-turret" type="building-turret" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The building turret location and power definitions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hitpoints" type="building-hitpoints" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The building hitpoints for ground and space battles.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="turret-matrix">
		<xs:annotation>
			<xs:documentation>The definition of the building turret images.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The turret identifier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="image" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The resource reference to the turret matrix with rotation and fire phases.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The number of image frames for the rotation dimension.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The number of fire animation phases for each rotation position.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="building-turret">
		<xs:annotation>
			<xs:documentation>Definition of various defensive buildings for each race.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="race" type="race" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The race specific turret settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The building identifier as found in buildings.xml .</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="race">
		<xs:annotation>
			<xs:documentation>The building turret configuration of a specific race</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element name="port" type="port" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Definition of the location and properties of a turret position on the building.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The race identifier as used in the buildings.xml.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="port">
		<xs:annotation>
			<xs:documentation>Definition of the location and properties of a turret position on the building.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="rx" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>The turret position into the X direction relative to the left edge of the building tiles. Might need to compensate the z-order rendering. This determines when the turret will be rendered.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ry" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>The turret position into the X direction relative to the top edge of the building tiles. Might need to compensate the z-order rendering. This determines when the turret will be rendered.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="px" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>The pixel offset relative to the default rendering position of (rx,ry).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="py" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>The pixel offset relative to the default rendering position of (rx,ry).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fire" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The enumeration constant from hu.openig.model.SoundType played when the turret fires.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="max-range" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The maximum fire range for the turret</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rotation-time" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Defines how many time it takes to do a one step rotation. The larger this number is the faster the turret will turn.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="damage" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The damage inflicted by a single hit of this projectile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="delay" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>The delay between shots of this projectile in milliseconds.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="matrix" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>References a matrix node within the parent buildings node.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="building-hitpoints">
		<xs:annotation>
			<xs:documentation>The hit points of the buildings in space and ground battles, optionally per player.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The building identifier as used in buildings.xml .</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="player" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>If present, it restricts the settings to a specific player found in players.xml .</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="space" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The hitpoints in campaign space battle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
        <xs:attribute name="space-skirmish" type="xs:decimal" use="optional">
            <xs:annotation>
                <xs:documentation>The hitpoints in skirmish space battle.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
		<xs:attribute name="ground" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="layouts">
		<xs:annotation>
			<xs:documentation>The list of layout definitions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="layout" type="layout" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A single layout definition.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="layout">
		<xs:annotation>
			<xs:documentation>The layout definition.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The layout identifier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="map" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The resource reference pointing to an special image where green 2x2 points mean position for fighters and 2x2 orange points mean larger ship positions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="properties">
		<xs:annotation>
			<xs:documentation>The list of custom properties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="property" type="property" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A custom property element with arbitrary attributes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="property">
		<xs:annotation>
			<xs:documentation>A custom property element with arbitrary attributes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The attribute identifier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute processContents="lax">
			<xs:annotation>
				<xs:documentation>The custom properties have their own attribute names and structures.</xs:documentation>
			</xs:annotation>
		</xs:anyAttribute>
	</xs:complexType>
	<xs:complexType name="ecm-vs-matrix">
		<xs:annotation><xs:documentation>The Anti-ECM versus ECM hit probability matrix.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="vs" type="vs" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>A concrete versus settings for anti-ecm and ecm-levels.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="difficulty" type='xs:string' use="required">
			<xs:annotation><xs:documentation>The difficulty level for the matrix</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="backfire" type='xs:double' use="optional">
			<xs:annotation><xs:documentation>The probability that the scrambled rocket will chose a new target from its owner's fleet.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="vs">
		<xs:annotation><xs:documentation>A concrete versus settings for anti-ecm and ecm-levels.</xs:documentation></xs:annotation>
		<xs:attribute name="anti-ecm" type="xs:int" use="required">
			<xs:annotation><xs:documentation>The Anti-ECM level.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="ecm" type="xs:int" use="required">
			<xs:annotation><xs:documentation>The ECM level.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="zeroone" use="required">
			<xs:annotation><xs:documentation>The hit probability.</xs:documentation></xs:annotation>
		</xs:attribute> 
	</xs:complexType>
	<xs:simpleType name="zeroone">
		<xs:annotation><xs:documentation>A decimal value between 0 (inclusive) and 1 (inclusive).</xs:documentation></xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name='tech-efficiency'>
		<xs:annotation><xs:documentation>The efficiency override based on the enemy owner, category or tech id.</xs:documentation></xs:annotation>
		<xs:attribute name="owner" type="xs:string" use="optional">
			<xs:annotation><xs:documentation>The optional owner (player id) where this setting should apply.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="category" type="xs:string" use="optional">
			<xs:annotation><xs:documentation>The optional category name where the setting should apply. See ResearchSubCategory enum for valid values.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="optional">
			<xs:annotation><xs:documentation>The optional concrete technology identifier where this setting should apply.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="damage-multiplier" type="xs:decimal" use="optional">
			<xs:annotation><xs:documentation>The damage multiplier if the given filter settings apply</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
