trunk/open-ig/data/generic/schemas/definition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="definition" type="definition">
		<xs:annotation>
			<xs:documentation>The definition of a campaign.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="definition">
		<xs:annotation>
			<xs:documentation>The definition of a campaign.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="texts" type="texts" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The textual description of the campaign in a language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The resource reference for extra labels, loaded in the given order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="image" type="xs:string">
				<xs:annotation>
					<xs:documentation>The image resource to display on the single player screen when the campaign is selected. Leave empty for no image.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intro" type="xs:string">
				<xs:annotation>
					<xs:documentation>The intro video resource to play when the campaign is started. Leave empty for no intro video.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="level" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>The initial level of the campaign.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="battle" type="xs:string">
				<xs:annotation>
					<xs:documentation>The battle.xml resource location describing the space and ground battles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bridge" type="xs:string">
				<xs:annotation>
					<xs:documentation>The bride.xml resource location describing the bridge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="buildings" type="xs:string">
				<xs:annotation>
					<xs:documentation>The buildings.xml resource location describing the buildings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="diplomacy" type="xs:string">
				<xs:annotation>
					<xs:documentation>The diplomacy.xml resource location describing the diplomatic options.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="galaxy" type="xs:string">
				<xs:annotation>
					<xs:documentation>The galaxy.xml resource location describing the galaxy and planet types.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planets" type="xs:string">
				<xs:annotation>
					<xs:documentation>The planets.xml resource location describing the planets and their initial conditions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="players" type="xs:string">
				<xs:annotation>
					<xs:documentation>The players.xml resource location describing the players of the game.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="talks" type="xs:string">
				<xs:annotation>
					<xs:documentation>The talks.xml resource location describing the available bar talks used by the original game.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tech" type="xs:string">
				<xs:annotation>
					<xs:documentation>The tech.xml resource location describing the researchable and producable technologies.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="test" type="xs:string">
				<xs:annotation>
					<xs:documentation>The test.xml resource location describing a test used by the original game.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="walks" type="xs:string">
				<xs:annotation>
					<xs:documentation>The walks.xml resource location describing the ship walking positions and videos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scripting" type="xs:string">
				<xs:annotation>
					<xs:documentation>The scripting.xml resource location used to script missions in the campaign.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chats" type="xs:string">
				<xs:annotation>
					<xs:documentation>The chat.xml resource location describing the space-chat during battles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spies" type="xs:string">
				<xs:annotation>
					<xs:documentation>The spies.xml location describing spying related properties.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameters" type="parameters">
				<xs:annotation>
					<xs:documentation>The global parameters affecting gameplay.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="texts">
		<xs:annotation>
			<xs:documentation>The textual description of the campaign in a specific language.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>The short title to display in the campaign list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>The description of the campaign.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="language" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The two character language.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="parameters">
		<xs:annotation>
			<xs:documentation>The global parameters affecting gameplay.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="groundRadarUnitSize" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>The multiplier for radar-range in pixels for ground radars.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fleetRadarUnitSize" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The multiplier for radar-range in pixels for fleet radars. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="researchSpeed" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The research speed in terms of money / simulation step. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="constructionSpeed" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The construction points per simulation step. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="constructionCost" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The construction cost per simulation step. Not used now. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="repairSpeed" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The hitpoints improved per simulation step. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="repairCost" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The repair cost per simulation step. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="costToHitpoints" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The denominator to compute hitpoints from costs in battles. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nearbyDistance" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation> What is considered a planet-nearby. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="simulationRatio" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The ratio between the fleet movement timer and speed() minute simulation time. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="productionUnit" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation> The production unit per simulation step. The lower the faster the production is. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fleetSpeed" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation> The fleet speed in pixels per game minute per hyperdrive level. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="stationLimit" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The maximum allowed station count per planet. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="battleshipLimit" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The maximum battleship limit per fleet. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fighterLimit" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The maximum fighter limit per type in a fleet. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mediumshipLimit" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The maximum number of cruisers and destroyers per fleet. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="radarShareLimit" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation> The diplomatic relation level required for shared radar view. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="blackMarketRestockTime" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>The time (in minutes) between restocks of the black market.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
