trunk/open-ig/data/generic/schemas/galaxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="galaxy">
		<xs:annotation>
			<xs:documentation>Defines the tile sizes for various surface types and the population growth per surface type.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="background">
					<xs:annotation><xs:documentation>The galaxy background image and zoom limits.</xs:documentation></xs:annotation>
					<xs:complexType>
						<xs:attribute name="min-scale" type="positiveReal" use="required">
							<xs:annotation><xs:documentation>The minimum scale for the image as a background.</xs:documentation></xs:annotation>
						</xs:attribute>
						<xs:attribute name="max-scale" type="positiveReal" use="required">
							<xs:annotation><xs:documentation>The maximum scale for the image as a background</xs:documentation></xs:annotation>
						</xs:attribute>
						<xs:attribute name="image" type="xs:string" use="required">
							<xs:annotation><xs:documentation>The resource path of the background image (without extension).</xs:documentation></xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="planets">
					<xs:annotation><xs:documentation>The list of planet types and their tile sizes.</xs:documentation></xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="planet" minOccurs="1" maxOccurs="unbounded" type="planet">
								<xs:annotation><xs:documentation>The definition of a concrete planet type.</xs:documentation></xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="population-growths" type="population-growths">
					<xs:annotation><xs:documentation>The list of planet-type vs race growth rates. Any unmentioned combination is considered to be 1.0</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element name="planet-naming" type="planet-naming" minOccurs="0">
					<xs:annotation><xs:documentation>A list of names usable when generating random galaxies.</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="positiveReal">
		<xs:annotation><xs:documentation>A positive real number.</xs:documentation></xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="planet">
		<xs:annotation><xs:documentation>Definition of the planet tiles of a particular type.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="body" type="xs:string">
				<xs:annotation><xs:documentation>The image for the starmap screen, should contain multiple rotation phases. The number of animation items is width / height.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="equipment" type="xs:string">
				<xs:annotation><xs:documentation>The planet's image on the equipment screen.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="spacewar" type="xs:string">
				<xs:annotation><xs:documentation>The planet's image on the spacewar screen.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="tileset" type="tileset">
				<xs:annotation><xs:documentation>The size definitions of the tiles used by this planet type.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="map" type="map">
				<xs:annotation><xs:documentation>The resource location and pattern for surface map variations.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="weather" type="weather" minOccurs="0" maxOccurs="1">
				<xs:annotation><xs:documentation>The optional weather definition. If absent, no weather effects are rendered.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The planet type.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The label of the planet type.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="weather">
		<xs:annotation><xs:documentation>The optional weather definition. If absent, no weather effects are rendered.</xs:documentation></xs:annotation>
		<xs:attribute name="frequency" type="xs:positiveInteger" use="required">
			<xs:annotation><xs:documentation>The weather effect frequency in game minutes.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="duration" type="xs:positiveInteger" use="required">
			<xs:annotation><xs:documentation>The weather effect duration in game minutes.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="drop-type" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The drop type, see WeatherType enum.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tileset">
		<xs:annotation><xs:documentation>The size definitions of the tiles used by this planet type.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="tile-range" type="tile-range">
					<xs:annotation><xs:documentation>A tile range definition where each tile has the same dimensions.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element name="tile" type="tile">
					<xs:annotation><xs:documentation>A concrete tile definition.</xs:documentation></xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="pattern" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The resource location pattern, usually containing a single %d which is substituted by real indexes from the child element definitions. For example: "map/tile_%03d". Usage of Java format specifiers is possible.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="map">
		<xs:annotation><xs:documentation>The resource location and pattern for surface map variations.</xs:documentation></xs:annotation>
		<xs:attribute name="pattern" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The resource path to the map variations, usually containing a single %d, e.g., "map/surface_type_%d".</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="start" type="xs:int" use="required">	
			<xs:annotation><xs:documentation>The start index used for enumerating the map variations referenced by the pattern attribute.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="end" type="xs:int" use="required">
			<xs:annotation><xs:documentation>The end index (inclusive) used for enumerating the map variations referenced by the pattern attribute.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tile-range">
		<xs:annotation><xs:documentation>A tile range definition where each tile has the same dimensions.</xs:documentation></xs:annotation>
		<xs:attributeGroup ref="width-height"/>
		<xs:attribute name="start" type="xs:int" use="required">
			<xs:annotation><xs:documentation>The start index of the tile, used for enumerating the tile images.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="end" type="xs:int" use="required">
			<xs:annotation><xs:documentation>The end index (inclusive) of the tile, used for enumerating the tile images.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tile">
		<xs:annotation><xs:documentation>A concrete tile definition.</xs:documentation></xs:annotation>
		<xs:attributeGroup ref="width-height"/>
		<xs:attribute name="id" type="xs:int" use="required">
			<xs:annotation><xs:documentation>The index of the tile, used for enumerating the tile images.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="width-height">
		<xs:annotation><xs:documentation>The width and height attributes.</xs:documentation></xs:annotation>
		<xs:attribute name="width" type="xs:positiveInteger" use="optional" default="1">
			<xs:annotation><xs:documentation>The tile width, which points slightly right and up.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:positiveInteger" use="optional" default="1">
			<xs:annotation><xs:documentation>The tile height, which points slightly right and down.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="population-growths">
		<xs:annotation><xs:documentation>The planet growths for planet type and race.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="growth" type="growth" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>The growth scale for a planet type and race pairs.</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="growth">
		<xs:annotation><xs:documentation>The growth scale for a planet type and race pairs.</xs:documentation></xs:annotation>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The planet type identifier.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="race" type="xs:string" use="required">
			<xs:annotation><xs:documentation>The race name, as used by the player and technology.</xs:documentation></xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="nonzero" use="required">
			<xs:annotation><xs:documentation>The growth multiplier.</xs:documentation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="nonzero">
		<xs:annotation><xs:documentation>A greater than zero decimal value.</xs:documentation></xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="planet-naming">
		<xs:annotation><xs:documentation>A list of names usable when generating random galaxies.</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="single" type="labeled-name" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>Indicates a name that may appear only once in the galaxy</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="multiple" type="labeled-name" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>Indicates a name that may appear multiple times in the galaxy</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="labeled-name">
		<xs:annotation><xs:documentation>A string content with an optional label attribute</xs:documentation></xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="label" type="xs:string" use="optional">
					<xs:annotation><xs:documentation>If present, this indicates the name should be localized under this label.</xs:documentation></xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>					
</xs:schema>
